<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.myfirstapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".index.IndexView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cor.CorView"></activity>
        <activity android:name=".sch.SchView"></activity>
        <activity android:name=".stu.StuView"></activity>
        <activity android:name=".cor.fragment.resume.StudentDetailsView"></activity>
        <activity android:name=".cor.fragment.message.ChatView"></activity>
        <activity android:name=".cor.fragment.place.PlaceView"></activity>
        <activity android:name=".cor.fragment.trainingdep.TrainingView"></activity>
        <activity android:name=".cor.fragment.me.CollectionView"></activity>
        <activity android:name=".cor.fragment.me.InforView"></activity>
        <activity android:name=".cor.fragment.me.OfferView"></activity>
        <activity android:name=".cor.fragment.place.AddPlaceView"></activity>
        <activity android:name=".cor.fragment.trainingdep.AddTeacherView"></activity>
        <activity android:name=".stu.fragment.message.ChatView"></activity>
        <activity android:name=".stu.fragment.register.RegisterView"></activity>
        <activity android:name=".sch.fragment.message.ChatView"></activity>
        <activity android:name=".sch.fragment.mystudents.StudentsView"></activity>
        <activity android:name=".sch.fragment.teachingplan.AddPlanView"></activity>
        <activity android:name=".sch.fragment.teachingplan.PlanDetailsView"></activity>
        <activity android:name=".sch.fragment.me.PushTrainView"></activity>
        <activity android:name=".cor.fragment.cor.TeachPlanView"></activity>
        <activity android:name=".cor.fragment.me.AddPlaceView"></activity>
        <activity android:name=".stu.fragment.register.AddExperienceView"></activity>
    </application>

</manifest>